@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown:focus-within .dropdown-menu {
    opacity:1;
    transform: translate(0) scale(1);
    visibility: visible;
}

.Page {
    @apply w-full min-h-screen flex justify-center pt-10 md:pt-20 pb-10
}

.PageContainer {
    @apply relative md:w-2/3 w-full bg-white flex flex-col items-center rounded-2xl
}